#logo {color: #8892bf;}
#content {min-height: 18em;}

#terminal {background-color: #364549; color: #e3e3e3; display: none; padding: 0.5em;}
.status {color: #f0c674;}

.php_error {color: #ff8095; font-weight: bold;}
.user_error {color: #ebd247; font-weight: bold;}
.phd_info {color: #55c500; font-weight: bold;}
.phd_warning {color: #a980f5; font-weight: bold;}

#file_suggest {
    background-color: white;
    border: 1px solid #1d1f21;
    font-family: Monaco, Menlo, "Ubuntu Mono", Consolas, source-code-pro, monospace;
    padding: 2px;
    position: absolute;
    width: 90%;
    z-index: 10;
}
#file_suggest div {
    color: #1d1f21;
    display: block;
    overflow: hidden;
    padding: 2px 4px;
    width: 100%;
}
#file_suggest div.select {
    background-color: #c5c8c6;
}
#file_suggest div.over {
    background-color: #f0c674;
}

#editor_text {display: none;}
